<div class="row">
  <div *ngFor="let product of products | async" class="card" class="col-md-4 col-sm-4 col-lg-4">
    <img class="card-img-top" [src]="imgUrl" alt="Card image cap">
    <div class="card-header" [routerLink]="['product',product.id]">{{product.title}}</div>
    <div class="card-body">
      <h5 class="card-title">{{product.price}}元</h5>
      <p class="card-text">{{product.desc}}</p>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
    <div class="card-footer text-muted">
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>

